
<div class="container">
    <div class='panel panel-primary'>
      <div class='text-center panel-heading'>
        <h2>EXTRAS </h2>
      </div>
      <div class="container">
        <input [(ngModel)]="query">
      </div>
      <hr>
  
      <ul class="extras">
        <li *ngFor="let extra of extras | search:'name,text':query"
        (click)="onSelect(extras)"
        [class.selected]="extra === selectedExtra"
        >
        <a routerLink="{{extra.id}}" [queryParams]="extra" >{{extra.name}}</a> 
        </li>
      </ul>
    </div>
  </div>
